<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="blue.dave.tab">

    <application>
        <activity
            android:name=".TABDebugActivity"
            android:label="@string/title_activity_tab_debug"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>
